.modalCon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modalBox {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: -50px;
  right: 50%;
  background: #e74c3c;
  color: white;
  border: none;
  border-radius: 30%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  white-space: nowrap;
}

.closeBtn:hover {
  background: #c0392b;
}

li {
  padding: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.removeBtn {
  cursor: pointer;
}

.addGroup {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.addGroup input {
  flex: 1;
  padding: 0.5rem;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.addGroup button {
  padding: 0.5rem 1rem;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addGroup button:hover {
  background: #2980b9;
}
